### Jupyter Notebooks ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

### Visual Studio Code ###
**/.vscode/*

### VisualStudioCode Patch ###
# Ignore all local history of files
.history